@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
    --heading-font: "Alegreya Sans", sans-serif;
    --ul-font: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header,
main,
footer {
    max-width: 650px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(27, 76, 139);
    color: white;
    display: grid;
    align-items: center;
    grid-template-columns: 170px 1fr;
    box-shadow: 0 0 30px black;
}

header img {
    width: 100px;
    height: auto;
}

header h1 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 20px;

}

main h2 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 15px;
}

main ul li {
    font-family: var(--ul-font);
    font-size: 10px;
    padding: 5px;
    margin-left: 30px;
}

main p {
    font-family: var(--ul-font);
    font-size: 8px;
    margin: 10px;
    font-style: italic;

}

footer {

    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(27, 76, 139);
    box-shadow: 0 0 20px black;
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: var(--heading-font);
}