@media (min-width: 64.5em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main section:nth-child(3) {
        grid-column: 3/3;
        max-width: 100%;
    }

    p {
        
        font-size: 20px;
    }
    header h1,
    h2 {
    
        font-size: 24px;
    }
    
    footer {
        font-family: 'Montserrat Alternates',
            sans-serif;
        font-size: 20px;
    }
}