@media screen and (min-width: 32.5em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
       
        main section:nth-child(2) {
            display: block;
        }
        
        main section:nth-child(3) {
            grid-column: span 2;
        }
}