

body {
    background-color: #deeaee;
    margin: auto;
    
}
header,
footer {
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(27, 76, 139);
    color: white;
    box-shadow: 0 0 30px black;
    text-align: center;
    border-radius: 10px;
}

header h1,
h2 {
    font-family: 'Montserrat Alternates',
        sans-serif;
        font-size: 12px;
}

footer {
    font-family: 'Montserrat Alternates',
        sans-serif;
    font-size: 10px;
}

main {
    display: grid;
    justify-self: center;
    align-content: center;
    grid-template-columns: 1fr;
}


main h2 {
    font-family: 'Radio Canada',
        sans-serif;
    background-color: #878f99;
    text-align: center;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 0 0 30px #92a8d1;
}


p {
    font-family: 'Radio Canada',
        sans-serif;
    font-size: 10px;
    text-align: justify;
    padding: 5px;
}


img {
    max-width: 90%;
    padding: 1em;
    border-radius: 10px;
    
}

section a {
    color: #034f84;
}

section {
    background-color: white;
    padding: 0.5em;
    margin: 5px;
    max-width: 400px;
}