@media only screen and (min-width:64rem) {

    .menu{
        display:none;
    }

    .list_menu{
        margin-left: 0;
        display:flex;
    }

.container_submenu{
    position: relative;
}
.submenu{
    position: absolute;
    overflow: visible;
    top:53px;
    width:200px;
   z-index: 1000;
   visibility: hidden;
}

.container_submenu:hover .submenu{
    visibility:visible;
    
   
}