/*---apply style general element---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Zilla Slab', serif;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 12px;
}

a {
    font-size: 12px;
    color: black;
    text-decoration: none;
}

header {
    border-radius: 5px;
    box-shadow: 0 0 20px #202927;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8C0C8;
    margin-bottom: 5px;
}

/*---apply style to menu responsive---*/
.logo {
    width: 75px;
    padding: 2px;
}

.social_media{
    width: 25px;
    border-radius: 50%;
    padding:2px;
}

#menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #EFE7D3;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
}

#menu a {
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid #F8C0C8;
}

#nav.active #menu {
    height: calc(70vh - 35px);
    visibility: visible;
    overflow-y: auto;
}



#btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
}

#hamburger {
    border-top: 2px solid;
}

#hamburger::after,
#hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: black;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
}

#nav.active #hamburger {
    border-top-color: transparent;
}

#nav.active #hamburger::before {
    transform: rotate(135deg);
}

#nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}

/*--apply style to main--*/

.about {
    margin: 10px
}

.content {
    width: 600px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 20px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
}

.bar:hover {
    background-color: #fff;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

#slide4:checked~.s1 {
    margin-left: -60%;
}

#slide5:checked~.s1 {
    margin-left: -80%;
}