html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Zilla Slab', serif;
}

.nav_bar{
    background-color: #E38646;
    padding:20px;
    display:block;
    color:white;
    cursor:pointer;
    font-size: 14px;
    width: 100%;
}

.menu, .submenu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu{
    background-color: #555;
    width:100%;
    margin-left: -100%;
}

.display{
    margin-left: 0;
}
.menu_link{
    display:block;
    padding:20px;
    color:white;
    font-size:12px;
    text-decoration: none;
}

.menu_link:hover{
    background-color: #444;
}

.submenu .menu_link:hover{
    background-color:#444 ;
}
.submenu{
    height:0;
    overflow: hidden;
    transition: all 0.3s;
}


.submenu .menu_link{
    background-color:#E38646;
    padding-left: 40px;
}