/*---apply style general element---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Zilla Slab', serif;
    margin: 0;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 18px;
    text-align: center;
}

h3 {
    font-size: 16px;
    text-align: center;
    color: #333652;
    font-weight: bolder;
}

p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a,
span {
    font-size: 12px;
    color: black;
    text-decoration: none;

}

hr {
    width: 100%;
    text-align: center;
    border: 1px solid;
    border-color: #D3B5E5;
    margin-bottom: 5px;
}

header {
    border-radius: 5px;
    box-shadow: 0 0 20px #202927;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D3B5E5;
    margin-bottom: 5px;
}

/*---apply style to menu responsive---*/
.logo {
    width: 75px;
    padding: 2px;
}

.social_media,
.other_media {
    width: 25px;
    border-radius: 50%;
    padding: 2px;
}

.other_media {
    display: none;
}

#menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #EFE7D3;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
}

#nav.active #menu {
    height: calc(100vh - 50px);
    visibility: visible;
    overflow-y: auto;
}


#menu a {
    padding: 1rem 0;
    margin: 0 1rem;

}

#btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
}

#hamburger {
    border-top: 2px solid;
    width: 20px;
}

#hamburger::after,
#hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
}

#nav.active #hamburger {
    border-top-color: transparent;
}

#nav.active #hamburger::before {
    transform: rotate(135deg);
}

#nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}

/*--apply style to main--*/

.container {
    background-color: #EFE7D3;
    border-radius: 5px;
    box-shadow: 0 0 20px #202927;
    margin-bottom: 5px;
    padding: 10px;
}

/*--apply style to hero-main--*/
.container img {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.ppal_image {
    position: relative;
}

.hero_btn {
    position: absolute;
    position: absolute;
    top: 10px;
    left: 15px;
    color: black;
    box-shadow: 0 0 20px #F8C0C8;
    background-color: #D3B5E5;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

/*--apply style to about-us--*/
.history {
    margin: 5px;
}

.title {
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-bottom: 5px;
}

/*--apply style to hotel facilities--*/
.content {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: 5px
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 30px;
    background-color: #F8C0C8;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
    text-align: center;
    font-weight: bolder;
}

.bar:hover {
    background-color: #fff;
}

.show {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

#slide4:checked~.s1 {
    margin-left: -60%;
}

#slide5:checked~.s1 {
    margin-left: -80%;
}


/*--apply style to information of temple--*/

.card_temple {
    width: 85%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 5px;

}

.card_temple div {
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: 0 0 20px #202927;
    border: 2px solid #D3B5E5;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.card_temple div:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #D3BBDD;
}

.card_temple a {
    font-weight: bolder;
}

/*--apply style to information of wheater--*/
.place-weather {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D3BBDD;
    box-shadow: 0 0 20px #202927;
    margin: 10px;
}

/*--apply style to new announced--*/
.build_temple {
    display: none;
}

/*--apply style to footer--*/

footer {
    background-color: #D3BBDD;
    border-radius: 5px;
    box-shadow: 0 0 20px #202927;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*--apply style to temple page--*/
.directory_menu {
    border: 1px solid #D3BBDD;
    padding: 5px;
    margin-top:10px;
    background-color:#EFE7D3;
    text-align: center;
}

.directory_menu button {
    padding: 10px;
    font-weight: 900;
    box-shadow: 0 0 20px #202927;
}

.directory_menu button:hover {
    background-color:#D3BBDD;
  }

.grid .information div {
    background-color:#EFE7D3;
    box-shadow: 0 0 20px #F8C0C8;
    padding: 15px;
    border: 1px solid #F8C0C8;
}

.list .information div {
    border-bottom:1px solid #F8C0C8; ;
    padding: 15px;
    font-size: 13px;
    }
.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

.grid .information {
    flex-direction: column;
    text-align: center;
}

.grid .information>* {
    margin: 5px;
}

.list {
    display: flex;
    flex-direction: column;
}


.list .information img, .list .information .temple_address, .list .information .web_temple {
    display:none;
}

.list .information div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-around;
    align-items: center;
}

/*--apply style to reservation page--*/
fieldset {
    padding: 10px;
    background-color: #F8C0C8;
    border: 3px solid #D3BBDD;
}

legend, #submit{
        font-weight: bolder;
}

#form_hotel {
    background: #EFE7D3;
    padding: 10px 5px 7px 5px;
    margin: 0;
}

#form_hotel label.infor {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
}

#form_hotel label.size_room {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;

}

#form_hotel label input:required {
    border-left: 5px red solid;
}

input {
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
}

textarea {
    font-size: 12px;
    width: 92%;
    padding: 5px;
}
.image_suite{
    display:none;

}
.confirmation{
    padding-top: 50px;
    text-align: center;
    width: 100%;
    height:300px ;
}
.confirmation p{
    font-weight: bolder;
}

.wdpicture{
    padding:10px;
    
}