/*----------- apply all HTML--------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Antic Slab', serif;

}

/*----------- apply a general style--------------*/
header,
.content,
footer,.script {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

}
/*----------- apply individual elements--------------*/
h1,
h2,
h3,
h4,
a {
    margin: 0;
    padding: 0;
    color: #325b5e;
}

h1 {
    font-size: 1.5rem;
}

h2,
span {
    font-size: 1rem;
}

/*----------- apply style header--------------*/

header {
    background-color: #f2e8e1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto .5fr;
    box-shadow: 0 0 20px #202927;
    align-items: center;
    justify-content: center;

}
.name_company {
    display: flex;
    flex-direction: column;
    letter-spacing: 1pt;
    text-align: center;
    margin: 5px;

}
.socialmedia {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
#hamburger {
    background-color: #325b5e;
    border: none;
    color: #f2e8e1;
    height: auto;
    width: 50px;


}

nav {
    background-color: #325b5e;
    box-shadow: 0 0 20px #202927;
    padding: 3px;
    grid-column: 3/4;
    margin-right: 10px;
}


nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #f2e8e1;
    text-decoration: none;
    font-size: 16px;
    padding: 0.5em;
    margin-right: 10px;

}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburger span:nth-child(1) {
    display: block;
}

#hamburger span:nth-child(2) {
    display: none;
}

#hamburger.open span:nth-child(1) {
    display: none;
}

#hamburger.open span:nth-child(2) {
    display: block;
}

/*----------- apply date and message--------------*/
.date,
.message {
    background-color: #325b5e;
    color: #f2e8e1;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 1pt;
    padding: 10px;
}
.script{
    box-shadow: 0 0 20px #202927;
}


/*----------- apply main--------------*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

/*----------- apply hero image--------------*/
.place-hero {
   
    width: 100%;
    background-color: #f2e8e1;
    margin: 5px 5px;

}


.heroBtn {
    position:absolute;
    top:20px;
    left: 25px;
    color: #f2e8e1;
    background-color: #325b5e;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.place-event {
    background-color: #f2e8e1;
    margin: 5px 5px;
    padding: 10px;
    box-shadow: 0 0 20px #202927;

}

.place-event h2,
.place-weather h2,
.place-news h2, .place-spotlight1 h2, .place-spotlight2 h2,
.place-spotlight3 h2
{
    text-align: center;
    padding: 10px;
    color: #202927;
    font-weight: bold;
    font-size: 28px;
    text-shadow: 0 0 0.2em green, 0 0 0.2em green,
        0 0 0.2em green;

}

.place-join {
    background-color: #f2e8e1;
    margin: 5px 5px;
    padding: 10px;
    box-shadow: 0 0 20px #202927;
    
}
.place-event h3 {
    text-align: center;
    padding: 10px;
    color: #202927;
    font-weight: bold;
    font-size: 22px;
}

.place-event p,
.place-news p {
    text-align: center;
    padding: 10px;
    color: #202927;
    font-size: 20px;

}

.place-event a {
    padding: 10px;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;

}

.place-weather {
    background-color: #f2e8e1;
    margin: 5px 5px;
    padding: 10px;
    box-shadow: 0 0 20px #202927;
   

}



.degree {
    font-size: 34px;
    font-weight: bold;
    padding: 10px;
    
}

.degree input{
    font-size:18px;
    width:30px;
    padding: 5px;
}

#calcTemp{
    padding:5px;
    background-color: #325b5e;
    color: #f2e8e1;
}

#windSpeed{
    width:50px;
    padding:5px;
}
.place-weather h3 {
    
    padding: 5px;
    color: #202927;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 3px solid #325b5e;
    text-align: right;
}

.ws,
.wc {
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}

.place-news {
    background-color: #f2e8e1;
    margin: 5px 5px;
    box-shadow: 0 0 20px #202927;

}



.spotlight {
    background-color: #f2e8e1;
    margin: 5px 5px;
    padding: 10px;
    box-shadow: 0 0 20px #202927;

}

.place-spotlight1, .place-spotlight2, .place-spotlight3{
    box-shadow: 0 0 20px #202927;
    margin: 5px 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spotlight img{
    margin:5px;
    
}

.place-join,
.place-spotlight3 {
    display: none;
}

.description {
    font-size: 18px;
    color:#202927;
    border-top: 3px solid #325b5e;
    text-align: center;
    padding: 5px;
}

.phone{
    color: #202927;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}
.subtitle{
    font-style: italic;
    margin:10px;
    padding: 5px;
    color: #202927;
    font-weight: bold;
    font-size: 22px;
    text-align: center;    
    
}

footer {
    background-color: #325b5e;
    box-shadow: 0 0 20px #202927;
    text-align: center;
    color: #f2e8e1;
    

}


.container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

footer h2{
    color:#f2e8e1;

}
footer h3 {
    color: #f2e8e1;

}


.address,
.contact {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 18px;
}

.last-update {
    font-size: 18px;
    border-top: 1px solid #f2e8e1;
}