@media only screen and (min-width:35rem) {

    .logo {
        width: 100px;

    }

    .name_company h1 {
        font-size: 30px;

    }

    .name_company p {
        font-size: 24px;
    }

    .socialmedia {
        width: 75px;
    }

    .date-information {
        font-size: 18px;
    }

    .heroBtn {

        font-size: 22px;
    }

    .content {

        grid-template-columns: 0.5fr 0.5fr;
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 0 0 20px #202927;
    }

    .hero-image {
        grid-column: 1/3;


    }

    .place-news {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .spotlight {
        grid-column: 1/3;
        grid-row: 3/4;
        display: flex;
        flex-direction: rows;
        justify-content: center;
        align-items: center;
    }

    .place-join {
        grid-column: 1/3;
        display: block;
        grid-row: 4/5;
    }

    .place-event {
        margin-right: 10px;
    }

    .information-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;

    }

    .footer-logo {
        grid-column: 1/2;
    }


    .information-general .address {
        grid-column: 2/3;

    }

    .contact {
        grid-column: 3/4;
    }

    .last-update {
        grid-column: 1/4;
      
    }
}