@media only screen and (min-width:35rem) {


    h1 {
        font-size: 2rem;
    }

    h2,
    span {
        font-size: 1.5rem;
    }

    .socialmedia img {
        max-width: 40px;
        padding: 5px;


    }



    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #hamburger span {

        font-size: 35px;

    }

    .logo img {
        max-width: 180px;
        height: auto;
        margin: 10px;
    }


    .date,
    .message {
        font-size: 24px;

    }

    .place-hero,
    .heroImg {
        max-width: 768px;
        width: 100%;
    }

    .heroBtn {
        padding: 25px;
        font-size: 24px;
        font-weight: bold;
    }

    .content {
        display: grid;
        grid-template-columns: auto .5fr;

    }

    .place-hero {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .place-news {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .spotlight {
        display: flex;
        flex-direction: row;
        grid-column: 1/4;
        grid-row: 3/4;
    }

    .place-join {
        display: block;
        grid-column: 1/4;
        grid-row: 4/5;
    }
    .place-event{
    height:97%;
    
    }

    .JoinBtn {
        display: block;
        color: #f2e8e1;
        background-color: #325b5e;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        margin: 10px;
        text-align: center;
        box-shadow: 0 0 20px #202927;
    }

    .join_content {
        font-size: 18px;
        margin: 10px;
        text-align: center;
    }

    .logo img {
        max-width: 250px;

    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;

    }

    .footer-logo {
        grid-column: 1/2;
    }


    .information-general .address {
        grid-column: 2/3;

    }

    .contact {
        grid-column: 3/4;
    }

    .last-update {
        grid-column: 1/4;
        grid-row: 2/3;
    }
}