/*----------- apply all HTML--------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Malayalam', sans-serif;

}

/*----------- apply a general style--------------*/
header,
main,
footer {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}

/*----------- apply style header--------------*/
header {
    background-color: #f2e8e1;
    box-shadow: 0 0 20px #202927;
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: .3fr 1.5fr .3fr .3fr;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

header img,
.spotlight img,
.information div img {
    width: 70px;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.socialmedia img {
    width: 25px;
    border-radius: 50%;
    padding: 2px;
}

#hamburger {
    background-color: #325b5e;
    border: none;
    color: #f2e8e1;
    height: auto;
    width: 20px;
}

.menu {
    background-color: #325b5e;
    box-shadow: 0 0 20px #202927;
    padding: 3px;
    margin-right: 10px;
    margin-top: 5px;
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
}

.menu ul li a {
    display: block;
    color: #f2e8e1;
    text-decoration: none;
    font-size: 14px;
    padding: 0.5em;
    margin-right: 10px;
}

.menu ul {
    display: none;
}

.menu ul.open {
    display: block;
}

#hamburger span:nth-child(1) {
    display: block;
}

#hamburger span:nth-child(2) {
    display: none;
}

#hamburger.open span:nth-child(1) {
    display: none;
}

#hamburger.open span:nth-child(2) {
    display: block;
}

.date-information {
    grid-column: 1/5;
    text-align: center;
    padding: 5px;
    background-color: #325b5e;
    color: #f2e8e1;
    font-size: 16px;
}


/*----------- apply style main content--------------*/

.content {
    box-shadow: 0 0 20px #202927;
}

/*----------- apply style hero-image--------------*/

.hero-image {
    position: relative;
}

.hero-image img {
    width: 100%;
    box-shadow: 0 0 20px #202927;
}

.heroBtn {
    position: absolute;
    top: 5px;
    left: 25px;
    color: #f2e8e1;
    background-color: #325b5e;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/*----------- apply style general element to different places--------------*/


.place-event,
.place-weather,
.place-news,
.spotlight,
.place-join,
.information_discover,
.card-content {
    background-color: #f2e8e1;
    margin-top: 5px;
    margin-top: 5px;
    padding: 10px;
    box-shadow: 0 0 20px #202927;
}

/*----------- apply style place-wheater--------------*/

.information_degree {
    display: flex;
    align-items: center;
    justify-content: center;
}

.information_weather {
    padding-top: 5px;
}

/*----------- apply style place-spotlight--------------*/

.spotlight,
.information_discover,
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place-spotlight1,
.place-spotlight2 {
    width: 250px;
    background-color: #325b5e;
    box-shadow: 0 0 20px #202927;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*----------- apply display:none--------------*/

.place-join,
.place-spotlight3,
.list .information img,
.list .information p {
    display: none;
}

/*----------- apply style footer--------------*/
footer {
    background-color: #325b5e;
    box-shadow: 0 0 20px #202927;
    text-align: center;
    color: #f2e8e1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin-top: 5px;
}

footer img {
    margin: 10px;
    width: 100px;
    border-radius: 50%;
}

/*----------- apply style discover page--------------*/

.discover-content {
    background-color: #f2e8e1;
    box-shadow: 0 0 20px #202927;
}

.card-content {
    background-color: #325b5e;
}

.card {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    background-color: #f2e8e1;
    box-shadow: 0 0 20px #202927;
    border-radius: 2%;
    margin: 5px;
}

.card:hover {
    box-shadow: 0 0 20px #167D7F;
}

.card img {
    width: 100%;
    padding: 5px;
}


/*----------- apply style join page--------------*/

.join_content {
    padding: 5px;
    box-shadow: 0 0 20px #202927;
}

.joinForm {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #f2e8e1;
    border-radius: 3%;
    box-shadow: 0 0 20px #202927;
}

form fieldset {
    border: none;
    font-size: 18px;
}

form legend {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 5px;

}

form label.info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

form fieldset:nth-child(1),
form fieldset:nth-child(2) {
    margin: 10px 0 15px 0;
}

form label.info input,
form label.info textarea,
form select#membership {
    border-radius: 4px;
    padding: 5px 10px;
}


form label.info input:required {
    border-left: 8px #325b5e solid;
}

select {
    font-size: 16px;
}

form label.info textarea {
    height: 60px;
    margin-bottom: 8px;
}

form input.submitBtn {
    width: 50%;
    padding: 10px;
    margin: 0 0 16px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    background-color: #325b5e;
    color: white;
    border: none;
}

form label.submit {
    margin-left: 20px;

}

#benefits {
    display: none;
    padding: 10px;

}

#benefits ul {
    margin-left: 10px;

}

#nonprofit,
#bronze,
#silver,
#gold {
    margin: 10px;
    text-align: justify;
    font-size: 16px;
}

#nonprofit,
#bronze,
#silver,
#gold {
    display: none;
}

.thankyou {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    font-size: 20px;
    background-color: #f2e8e1;
}

/*----------- apply directory--------------*/

.directory_menu {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
    background-color: #f2e8e1;
    text-align: center;
}

.directory_menu button {
    padding: 16px;
    font-weight: 900;
    box-shadow: 0 0 20px #202927;
}

.directory_menu button:hover {
    background-color: #325b5e;
    color: #f2e8e1;
}

article,
.information {
    background-color: #325b5e;
}

.information {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.information div {
    background-color: #f2e8e1;
    box-shadow: 0 0 20px #f2e8e1;
    padding: 15px;
    width: 300px;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
}



.list .information {
    display: flex;
    align-items: center;
}

.grid .information {
    flex-direction: column;
    text-align: center;
}

.grid .information>* {
    margin: 5px;
}

.list .information {
    flex-direction: column;
    justify-content: left;
}

.list .information div {
    display: flex;
    flex-direction: column;
    width: 95%;

}

.list .information>* {
    margin: 5px;
    text-align: left;
}

/*----------- apply style to h1, h2, h3, p and a--------------*/

.name_company h1 {
    font-size: 24px;
    margin: 0;
    text-align: center;
    margin-top: 5px;
}

footer h2 {
    font-size: 22px;
}

.place-event h2,
.place-weather h2,
.place-news h2,
.discover-content h2,
.place-spotlight1 h2,
.place-spotlight2 h2,
.place-spotlight3 h2,
.card-content h2, .direction h2{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #2F5233;
    font-size: 22px;
    text-shadow: #202927 0.1em 0.1em 0.2em;
}

.place-spotlight1 h2,
.place-spotlight2 h2,
.place-spotlight3 h2,
.card-content h2 {
    color: #f2e8e1;
}

#benefits h2 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.grid h2,
.list h2,.container-form h2 {
    font-size: 22px;
    color: #f2e8e1;
    text-align: center;
}

.title-form {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 22px;

}

.place-weather h3,
.place-event h3 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #202927;
    font-weight: bold;
    font-size: 18px;
}

.place-weather h3 {
    border-bottom: 2px solid #325b5e;
    text-align: right;
}

.information h3,
.card h3, .direction h3 {
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

.subtitle {
    font-style: italic;
    padding-top: 5px;
    color: #f2e8e1;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.information h4 {
    font-size: 16px;
}

.name_company p {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.address,
.contact,
footer p {
    font-size: 16px;
}

.place-event p,
.place-weather p,
.place-news p,
.place-join p,
.card p, .direction p {
    text-align: justify;
    font-size: 16px;
    padding: 5px;

}

.date_visited p,
.description,
.phone, .container-form p {
    font-size: 16px;
    color: #f2e8e1;
    text-align: center;
    padding: 5px;
}




.place-event a {
    color: #325b5e;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
}

.card_link a,.map a {
    font-size: 16px;
    text-decoration: none;
    color: #f2e8e1;

}


.last-update {
    font-size: 16px;
    border-top: 1px solid #f2e8e1;
}

.card_link {
    background-color: #325b5e;
    padding: 5px;
    margin-top: 5px;

}



.information p {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 2px;


}

.information a {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

/*----------- apply style contact page--------------*/

.content_contact {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f2e8e1;
    align-items: center;
}

iframe {
    width: 100%;
}


