@media only screen and (min-width:35rem) {

    .logo {
        width: 200px;
    }

    .name_company h1 {
        font-size: 30px;

    }

    .name_company p {
        font-size: 24px;
    }

    .socialmedia {
        width: 100px;
    }

    .date-information {
        font-size: 18px;
    }

    .heroBtn {

        font-size: 22px;
    }

    .content {
        display: grid;
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 0 0 20px #202927;
    }

    .hero-image {
        grid-column: 1/3;
    }

    .place-news {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .spotlight {
        grid-column: 1/3;
        grid-row: 3/4;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;

    }

    .place-spotlight1,
    .place-spotlight2,
    .place-spotlight3 {
        width: 280px;
    }

    .place-join {
        grid-column: 1/3;
        display: block;
        grid-row: 4/5;
    }

    .place-event {
        margin-right: 10px;
    }

    .information-footer h2,
    .place-event h2,
    .place-weather h2,
    .place-news h2,
    .place-spotlight1 h2,
    .place-spotlight2 h2,
    .place-spotlight3 h2,
    .discover-content h2 {
        font-size: 26px;
    }

    .information-footer p,
    .place-event p,
    .place-weather p,
    .place-news p,
    .place-spotlight1 p,
    .place-spotlight2 p,
    .place-spotlight3 p,
    .place-join p {
        font-size: 18px;
    }

    .information-footer {
        display: grid;

    }

    .footer-logo {
        grid-column: 1/2;
    }


    .last-update {
        grid-column: 1/4;

    }

    .card h3 {
        font-size: 22px;

    }

    .card p {
        font-size: 18px;

    }

    .joinForm {
        width: 500px;
    }

    .title-form {

        font-size: 26px;

    }


    form fieldset {

        font-size: 22px;


    }

    form legend {
        font-size: 24px;
    }

    form label.info {
        font-size: 22px;


    }


    #benefits h2 {

        font-size: 24px;
    }


    #nonprofit,
    #bronze,
    #silver,
    #gold {
        font-size: 22px;
    }

    .thankyou {

        font-size: 24px;
    }


    .list .information div {
        flex-direction: row;
        align-items:center ;
        justify-content:space-between;
      
    }

    .list .information img {
        margin:5px;       
        display: block;
 
   }

   .list .information h3, .list .information h4{
       padding:10px;
   

   }
   .information img {
    width:200px;
   }
   .grid .information {
    flex-direction: row;
       width: 600px;
       display: flex;
       flex-wrap: wrap;

   }

   .grid .information div {
       flex: 1 1 33.33%;
       margin: 20px;
   }
}